includes:
    - phpstan-baseline.neon

parameters:
    level: 8
    paths:
        - src
    ignoreErrors:
        - 
            message: '#Call to static method getUrl\(\) on an unknown class BezhanSalleh\\FilamentShield\\Resources\\RoleResource#'
            path: */src/*
        - 
            identifier: 'missingType.iterableValue'
